// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'
@require '~vuetify/src/stylus/main.styl'
@require '~vuetify/src/stylus/settings/_colors.styl'

$theme := {
  primary: $red.darken-2
  accent: $red.accent-2
  secondary: $red.lighten-1
  info: $red.lighten-1
  warning: $red.darken-2
  error: $red.accent-4
  success: $red.lighten-2
}
